@page "/"
@inject IConfiguration _config

<h1>Hello, world!</h1>

Welcome to your new app.

<p>
    My Setting value: @mySettings
    <br/>
    My SubSetting: @mySubSetting
    <br/>
    My Connection string: @connectionString
    <br/>
    Email Settings @emailSettings.ToString()

</p>

@code{

    string mySettings = "";
    string mySubSetting = "";
    string connectionString = "";
    EmailSettings emailSettings = new EmailSettings();
    protected override void OnInitialized()
    {
        mySettings = _config.GetValue<string>("MySettings");
        mySubSetting = _config.GetValue<string>("MainSetting:SubSetting");
        connectionString = _config.GetConnectionString("Default");

        emailSettings = _config.GetSection(nameof(EmailSettings)).Get<EmailSettings>();
    }

}